body {
    background-color: red;
}

h2 {
    margin-bottom: 12px;
}

.error {
    color: red;
}

.media-drop {
    position: relative;
}

.media-drop.dragover {
    border-color: orange;
}

.media-drop > button.delete {
    display: none;
    position: absolute;
    right: 8px;
    top: 4px;
}

.media-drop-placeholder {
    display: table-cell;
    /* Scale 1.11 */
    width: 310px;
    height: 278px;
    background-color: #e1e1e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
}

.media-drop-placeholder.busyloading {
    background-image: url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.media-drop-placeholder-title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #818177;
}

.media-drop-placeholder-or {
    display: block;
    font-weight: normal;
    font-size: 15px;
    color: #818177;
}

.media-drop-placeholder-uploadbutton {
    display: block;
    position: relative;
}

/* Fake stylable upload button. */
.media-drop-placeholder-uploadbutton > button {
    position: relative;
    width: 130px;
}

/* Real upload button, centered */
.media-drop-placeholder-uploadbutton > input {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    opacity: .5;
    z-index: 1;
    width: 130px;
    max-width: 130px;
    overflow: hidden;
}

