h2 {
    margin-bottom: 12px;
}

.dragover {
    border-color: orange;
}

.media-drop-placeholder {
    display: table-cell;
    /* Scale 1.11 */
    width: 310px;
    height: 278px;
    background-color: #e1e1e8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
}

.media-drop-placeholder.busyloading {
    background-image: url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.media-drop-placeholder-title {
    font-weight: bold;
    font-size: 20px;
    color: #818177;
}

.media-drop-placeholder-or {
    font-weight: normal;
    font-size: 15px;
    color: #818177;
}

.media-drop-placeholder > button {
    position: relative;
    display: inline-block;
    margin-top: 18px;
    width: 150px;
}

.media-drop-placeholder > button > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.sliderblock {
    position: relative;
    width: 320px;
    height: 20px;
    padding: 0 36px 0 28px;
    margin: 10px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.sliderblock-icon-small {
    display: block;
    position: absolute;
    top: 6px;
    left: 2px;
    width: 9px;
    height: 7px;
}

.sliderblock-icon-big {
    display: block;
    position: absolute;
    top: 3px;
    right: 2px;
    width: 16px;
    height: 12px;
}

.sliderblock-slider {
    width: 100%;
    padding: 0;
    margin: 0;
}

